/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Bellota:wght@400;700&display=swap');
/* Copy/Paste for Fonts */
/* font-family: 'Belgrano', serif;
font-family: 'Bellota', cursive; */

/* RESET */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
    margin: 0;  
    padding: 0;  
    /* border: 0;   */
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline;  
}

*{
    box-sizing:border-box;
    border:1px solid grey;
    max-width:100%;
}

/*General Styles*/
html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;;
    line-height: 1.5;
    font-family: 'Bellota', cursive;
    color: #3d405b;
}
h1 {
    font-family: 'Belgrano', serif;
    font-size: 6rem;
    color: #f4f1de;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 1.8rem;
}
a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #f4f1de;
    background-color: #81b29a;
    padding: 4px 20px;
    text-align: center;
}
section {
    padding: 4% 0;
}
.boldText {
    font-weight: bold;
    color: #e07a5f;
}

/* HEADER STYLES */
.subtitle {
    font-size: 4rem;
}
header {
    background-color: #3d405b;
    height: 180px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 0 3%;
}
header nav {
    margin-left: 2%;
}
header a {
    margin:0;
}

/* ABOUT ME STYLES */
#aboutMe {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-end;
    background-color: #f4f1de;
    padding: 2% 3%;
}

#aboutMe div {
    display: flex;
    flex-flow: column nowrap;
    width: 47%;
    justify-content: flex-end;
}

#aboutMe a {
    width: 30%;
    margin: 2% 0;
}

#aboutMe img {
    display: inline;
    width: 48.5%;
    height: auto;
}


/* GALLERY STYLES */

#gallery {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f4f1de;
    padding: 0 3%;
  }

#gallery div {
    width:23%;
    margin:2.5% 0;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#gallery p {
    text-align: center;
}

/* FOOTER STYLES */
footer {
    color: #f4f1de;
    height: 20vh; /* was 200px */
    background-color: #3d405b;
    display: flex;
    flex-flow: column nowrap;
}

footer a {
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

footer h2 {
    text-align: center;
    padding: 1% 0;
}

footer #supportButton {
    background-color: #3d405b;
    text-align: center;
    padding-top: 3%;
}

/* TABLET STYLES @ 800PX */
@media (max-width: 800px) {
    /* Header */
    header {
        height: 30vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        padding: 0 3%;
        align-items: center;
    }
    header nav {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
    }
    header a {
        margin: 0 1%;
    }
    h1 {
        font-size: 4rem; 
    }
    /* About */
    #aboutMe {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 2% 3%;
    }
    
    #aboutMe div {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        text-align: center;
    }
    
    #aboutMe a {
        margin: 2% auto;
    }
    
    #aboutMe img {
        width: 90%;
    }
    
    /* Gallery */
    #gallery {
        padding: 3% 3%;
    }
    #gallery div {
        width: 48%;
    }
    /* Footer */
    footer h2 {
        font-size: 2.5rem;
    }
    footer #supportButton {
        padding: 1% 0;
    }
}




/* PHONE STYLES @ 500PX */

@media (max-width: 500px) {
    /* Header */
    header {
        height: 40vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        padding: 0 3%;
        align-items: center;
    }
    header nav {
        display: flex;
        flex-flow: column nowrap;
        width: 30%;
    }
    header a {
        margin: 0;
    }
    .subtitle {
        display: none;
    }
    /* About */
    #aboutMe {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 2% 3%;
    }
    
    #aboutMe div {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        text-align: center;
    }
    
    #aboutMe a {
        margin: 2% auto;
    }
    
    #aboutMe img {
        width: 90%;
    }
    
    /* Gallery */
    #gallery {
        padding: 3% 3%;
    }
    #gallery div {
        width: 48%;
    }
    /* Footer */
    footer h2 {
        font-size: 2.5rem;
    }
    footer #supportButton {
        padding: 1% 0;
    }
}

